<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853634673961-b2k8ml3rv2sr7hb2nfj5rj0ajh48fk95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853634673961-b2k8ml3rv2sr7hb2nfj5rj0ajh48fk95</string>
	<key>API_KEY</key>
	<string>AIzaSyCF88_nErN7Kh37coESrSWE6acvdVwIz9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>853634673961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charlie.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-2fadb</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-2fadb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853634673961:ios:8c7fdcd6f4078e4c0d9b38</string>
</dict>
</plist>